/* 
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
*, html,body{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
	font-family:'Poppins', sans-serif;
	user-select:none;
}
body{
	background-color:#fff;
	width:100%;
	min-height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
}
.card{
	position:relative;
	width:280px;
	height:350px;
	perspective:1000px;
	transform-style:preserve-3d;
	cursor:pointer;
}
.card .box{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	transform-style:preserve-3d;
	transition:1s;
}
.card .front,
.card .back{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}
.card .front{
	background-image:url(https://1.bp.blogspot.com/-FQQE-TAAaNg/Xx82F7O9mUI/AAAAAAAAAME/VSGCG-1S8RcnUJnryWfvWeVrQwOLXK0tgCNcBGAsYHQ/s2048/image18.jpg);
	background-size:100% 100%;
}
.card .back{
	background-color:rgba(0,0,0,.8);
	transform:rotateY(180deg);
	transform-style:preserve-3d;
}
.card .back .content{
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
	position:absolute;
	top:15%;
	left:0px;
	padding:10px;
	color:#fff;
	transform:translateZ(100px);
	width:100%;
}
.card:hover .box{
	transform:rotateY(180deg);
} */


/* Scene = 3D space */
.scene {
  width: 300px;
  height: 420px;
  perspective: 1200px;
  margin: 50px auto;
}

/* Card = 3D container */
.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s ease;
}

/* Hover rotate (optional) */
.scene:hover .card {
  transform: rotateY(-12deg);
}

/* Profile Image */
.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

/* Gradient Layer */
.gradient-layer {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  position: absolute;
  top: 15%;
  left: 0;
  padding: 14px 24px;
  color: #fff;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  transform: translateZ(100px); /* 3D layer */
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

/* Hi Bubble / Icon */
.hi-bubble {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 60px;
  height: 60px;
  background: #5b6cff;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 12px 25px rgba(0,0,0,0.3);
  transform: translateZ(120px); /* slightly in front of gradient */
}
