body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: white;
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1000;
  padding: 1rem 0;
  text-align: center;
}

nav ul {
  list-style: none;
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

nav .logo img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}


nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #4e54c8;
}

.highlight {
  background: #4e54c8;
  color: white !important;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

  /* =======================hero==================================== */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;          /* SAME LINE */
  justify-content: center;
  gap: 2rem;                    /* tight spacing */
  padding: 2rem;
  
}

/* LEFT */
.hero-left {
  text-align: right;

  height: 100vh;
  width: 50%;
}
.name1{
  padding-top:267px;
 justify-items: center;
   margin-bottom:1px;
}
.title1 {
  font-size: 5.5rem;            /* BIG TEXT */
  font-weight: 800;
  padding-top:53px;
  margin-top: -70px;
}


/* CENTER IMAGE */
.hero-center img {
  width: 300px;
  height: 420px;                
  object-fit: cover;
  border-radius: 18px;         
 
}

/* RIGHT */
.hero-right {
  height: 100vh;
  width: 50%;
  text-align: left;
 
}
.name2{
    margin-top: 0;
  padding-bottom: 200px;
}

.title2{
    margin-bottom: 5px;
    font-size: 5.5rem;            /* BIG TEXT */
  font-weight: 800;
  padding-top:239px;
}



/* =========================media query ================================== */

/* 🔹 RESPONSIVE */
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }

  .hero-left,
  .hero-right {
    text-align: center;
  }

  .title {
    font-size: 3.2rem;
  }

  .hero-center img {
    width: 220px;
    height: 320px;
  }
}